.timer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
  padding: 8px 16px;
  margin-right: 8px;
  margin-top: 36px;
}

.timer-input:hover {
  border-color: #000000;
}

.timer-input:active,
.timer-input:focus {
  color: #000000;
  border-color: #4e75ff;
}

.timer-input:disabled {
  background-color: #fafafa;
  color: #808080;
}

.timer-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
}

.timer-button:hover,
.timer-button:focus {
  background-color: #6c8cff;
}

.timer-button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field .label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
